@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Static Sample Page</title>
        <link href="~/css/SampleStaticstyle/Staticstyles.css" rel="stylesheet" />
    </head>
    <body>

        <div class="container">

        
            <div class="header">
                <div>
                    <img src="~/FileDocuments/Herbs_Cupslogo.jpg" alt="omg" id="iconid"/>
                </div>

                <div>
                    <h3 id="h3-headingid">
                        Herb's Tea Shop <br />
                        <i>We've got what you need</i>
                    </h3>

                    <h5 id="contactdetails-id">(404)555 1234<br /> 123 Main st <br /> Melbourne, GA</h5>
                </div>
                <br/>
                <br/>
                <br/>
            </div>
            <br/>
            <br/>

           <div class="body-img-container" id="body-img-container">
                <div class="header-left" id="header-left">
                    <ul>
                        <li id="li-Home"><a href="" class="">Home</a></li>
                        <li id="li-About"><a href="">About Us </a></li>
                        <li id="li-Contact"><a href="">Contact Us</a></li>
                    <li id="li-Contact1"><a href=""></a></li>
                    </ul>
                </div>
            
                <div class="body-img">
                    <img src="~/FileDocuments/Cupbodyimg.jpg" id="bodyimg-id" />
                    <img src="~/Images/Background.png" alt="bgi" id="backgroundimg-id" class="backgroundimg-id" />
                </div>
            </div>

        <div class="Tea-month" id="Tea-month">
            <h3>Tea of the month Club</h3>
            <p id="paragragh">use the form below to sign </p>
            <p> up for our tea of the month club</p>
            <br/>
            <label for="Name">Name:</label><span class="required">*</span><br/>
            <input type="text" id="name"/>
            <br/>
            <br/>
            <label for="email">Email:</label><span class="required">*</span><br/>
            <input type="email" id="name" />
            <br/>
            <br/>
            <label for="Name">Message:</label><span class="required">*</span><br />
            <textarea rows="4" cols="21" id="textarea"> </textarea><br/>

            <input type="submit" value="send message" id="submitbtn"/>

            <h2></h2>
        </div>

        <div class="Best-tea" id="Best-tea">
            <h3>Our Tea is best</h3>
            <p> If you're looking for random paragraphs, you've come to the right place. When a random word or a random sentence isn't quite enough, the next logical step is to find a random paragraph. We created the Random Paragraph Generator with you in mind. The process is quite simple. </p>
        
        
            <div class="Tea-Sets" id="Tea-Sets">
                <h3 id="h3-tea-sets">Tea Sets</h3> 
                <img src="~/Images/Tea-sets.jpg" alt="bgi" id="teaset-img-id" />
            </div>

            <div class="Tea-varities" id="Tea-varities">
                <h3 id="h3-tea-varities">Tea Varities</h3>
                <img src="~/Images/Tea-varities.jpg" alt="bgi" id="teavarities-img-id" />
            </div>

            <div class="Tea-testing" id="Tea-testing">
                <h3 id="h3-tea-testing">Tea Testing</h3>
                <img src="~/Images/Tea-testing.jpg" alt="bgi" id="teatesting-img-id" />
            </div>


            <div class="img-information" >
                <p id="img-information">
                    sjfskddjsjscnsjcjsdsj<br/>
                    sjfskddjsjscnsjcjsdsj<br/>
                    jdncjsnjsdnjsncjdsshd<br/>
                </p>

                <p id="img1-information">
                    sjfskddjsjscnsjcjsdsj<br />
                    sjfskddjsjscnsjcjsdsj<br />
                    jdncjsnjsdnjsncjdsshd<br />
                </p>

                <p id="img2-information">
                    sjfskddjsjscnsjcjsdsj<br />
                    sjfskddjsjscnsjcjsdsj<br />
                    jdncjsnjsdnjsncjdsshd<br />
                </p>

            </div>
            
            <div class="Address-container" id="Address-container">
                <h2>Our Address</h2>

                <p>6-4-94/2</p>
                <p>Sircilla Gandhi Nagar</p>
            </div>

            <div class="last-image">

                <h2 class="heading-last-img">Tea of the Day</h2>
                <img src="~/Images/last-Tea-cup.png" id="last-cup" />
                <img src="~/Images/map.png" id="last-map" />
            </div>

        </div>
    </div>
</body>
</html>
