@model List<First_Sample_Project.Models.FilesViewModel>


@{
    ViewData["Title"] = "List of Files";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 style="align-content:center" >List of Files</h3>
    </div>

    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <thead style="background-color:maroon">
                    <th style="color:aqua"><b>Id</b></th>
                    <th style="color:aqua"><b>FilePath</b></th>
                    <th style="color:aqua"><b>FileName</b></th>
                    <th style="color:aqua"><b>Download</b></th>
            </thead>

            <tbody style="background-color:khaki">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FilePath</td>
                        <td>@item.FileName</td>
                        <td><a asp-controller="Files" asp-action="DownloadFiles" asp-route-FileName="@item.FileName">Download</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>