<h2>
    An Error occured Support team is working on it 
    to fix the issue
</h2>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <br/>
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <br/>
    <p>@ViewBag.Exceptionpath</p>
</div>

<div class="alert alert-danger">
    <h3>Exception stacktrace</h3>
    <br/>
    <h3>@ViewBag.Exceptionstacktrace</h3>
</div>